<?xml version="1.0"?>
<model>
  <name>roboclub_banner</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Robotics Club IIT Guwahati</name><email>maydayv7@gmail.com</email></author>
  <description>Technical Board + Robotics Club logo floor banner.</description>
</model>
